@import "select2/dist/css/select2.min.css";
@import "select2-theme-bootstrap4/dist/select2-bootstrap.min.css";
@import 'vue3-carousel/dist/carousel.css';
@import "vue-toastification/dist/index.css";
@import '@vuepic/vue-datepicker/dist/main.css';
@import 'sweetalert2/dist/sweetalert2.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.select2-selection__rendered {
    display: inline !important;
}


.select2-search__field {
    height: 1.2rem !important;
    font-size: 13px !important;
}

.select2-search__field {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: transparent !important;
    --tw-ring-color: transparent !important;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: transparent !important;
}

.select2-container:focus {
    border-color: #a855f7 !important;
}

.select2-selection {
    border-color: white !important;
    border-radius: 100px !important;
    transition: all 150ms ease !important;
}


.select2-selection[aria-expanded="true"] {
    border-color: #a855f7 !important;
    border-radius: 0 !important;
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
    transition: all 100ms ease !important;
}

.select2-container--bootstrap .select2-dropdown {
    border-color: #a855f7 !important;

}

.dp__pointer {
    border-radius: 50px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%);
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.dropdown-header {
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: #6c757d;
    white-space: nowrap;
}

.dropbtn {
    color: gray;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
